.badge {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    background-color: #E50914;
    color: white;
    font-weight: bold;
    width: max-content;
    padding: 0.5rem 1rem;

}