.movie-details {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;


    &-poster {
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
        border-radius: 2rem;
        transition: box-shadow .3s, transform .3s;

        &:hover {
            box-shadow: 0 0 11px rgb(255, 255, 255);
            transform: translateY(-10px);
        }

        img {
            max-width: 100%;
            min-height: 100%;
            min-width: 100%;
            flex-shrink: 0;
        }

        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }

    &-body {
        width: 50%;

        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }

    &-body-badges {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        margin-bottom: 1rem;
    }

    &-body-rating {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        margin: 1rem 0;
    }
}
