@use './mixins';

.shimmers{
    @include mixins.cardsContainer;
}
.shimmer-thumbnail {
    height: 30rem;
    width: 30%;
    border: 1px solid white;
    border-radius: 15px;
    overflow: hidden;
    &-body{
        width: 100%;
        height: 100%;
        border-top: 1px solid grey;
        background: linear-gradient(-90deg, #cfcdcd 40%, #fafafa 50%, #cfcdcd 60%);
        background-size: 300%;
        background-position-x: 100%;
        animation: shimmer 1s infinite linear;
    }
    &-poster {
        height: 80%;
        background: linear-gradient(-90deg, #eee 40%, #fafafa 50%, #eee 60%);
        background-size: 300%;
        background-position-x: 100%;
        animation: shimmer 1s infinite linear;
    }
    @media screen and (max-width: 767px) {
        width: 40%;
    }
    @media screen and (max-width: 576px) {
        width: 100%;
    }
}

@keyframes shimmer {
    to {
        background-position-x: 0%
    }
}